{% extends "admin/change_list.html" %}

{% load static %}

{% block pretitle %}
  {{ block.super }}
  <h1>Mappa real-time</h1>
  <div id="mappa" style="margin-bottom: 20px">
    <div id="map" style="width: 100%; height: 400px;"></div>
  </div>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHcYWrV1mH5HPRmFdyKaBAtulHgXr8NEI&callback=initMap&libraries=places&v=weekly"
    async defer ></script>
  <script src="{%static "javascript/markers_on_map.js"%}" type="text/javascript" charset="utf-8"></script>
{% endblock %}
