{% extends "admin/change_list.html" %}

{% load static %}

{% block pretitle %}
  {{ block.super }}
  <h1>Mappa real-time</h1>
    <div class="actions" style="padding: 10px; color: #999; ">
      <label for="seconds">La mappa viene aggiornata ogni:</label>
      <select id="seconds">
        <option value="1">1 secondo</option>
        <option value="2">2 secondi</option>
        <option value="3">3 secondi</option>
        <option value="5">5 secondi</option>
        <option value="10">10 secondi</option>
        <option value="30">30 secondi</option>
      </select>
    </div>
  <div id="mappa" style="margin-bottom: 20px">
    <div id="map" style="width: 100%; height: 400px;"></div>
  </div>

  <input type="hidden" id="token" name="token" value="{{ TOKEN }}">


  <script
    src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAP_KEY }}&callback=initMap&libraries=places&v=weekly"
    async defer ></script>
  <script src="{%static "javascript/markers_on_map.js"%}" type="text/javascript" charset="utf-8"></script>
{% endblock %}
